/*setting attributes to page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* background color for body*/
body {
    background-color: #d9dcd6;
}
/* header styling*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* styling H1 within header*/
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* changing color for "seo" within H1 */
header h1 .seo {
    color: #d9dcd6;
}
/* styling nav bar within header */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* taking away list style type from list and setting it it none not to be seen */
header nav ul {
    list-style-type: none;
}
/*setting up list items within the list */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* links styling */
header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
/* paragrahps styling */
p {
    font-size: 16px;
}
/* figure parameters */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* section parameters */
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* articles syling within section element */
section article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* img styling within section */
section article img {
    max-height: 200px;
}
/* H2 styling withing section */
section article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* set up floating of images within section */
section article img.float-left {
    float: left;
    margin-right: 25px;
}

section article img.float-right {
    float: right;
    margin-left: 25px;
}
/* aside styling */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* styling articles within aside */
aside article {
    margin-bottom: 32px;
    color: #ffffff;
}

/* styling H3 */
aside article h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* syling img within aside articles */
aside article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* footer styling */
footer{
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* styling H2 within footer element */
footer h2 {
    font-size: 20px;
}
